body {
  font-family: "Roboto", sans-serif;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.geologica-font-bold {
  font-family: "Geologica", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: 
    "slnt" 0, 
    "CRSV" 0, 
    "SHRP" 0;
}

.geologica-font-regular {
  font-family: "Geologica", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: 
    "slnt" 0, 
    "CRSV" 0, 
    "SHRP" 0;
}